body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    padding-left: 8px;
    font-size: 40px;
  }
  
  .bg-gray-100 {
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .box {
    margin-bottom: 20px;
  }
  
  .box input,
  .box textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #9c27b0;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
  }
  
  .box textarea {
    resize: none;
    height: 150px;
    overflow-y: hidden;
  }
  
  .column {
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 48%;
      margin: 1%;
    }
  }
  
  @media (min-width: 768px) {
    .column {
      width: 31.33%;
      margin: 1%;
    }
  }
  
  @media (min-width: 992px) {
    .column {
      width: 23.5%;
      margin: 1%;
    }
  }
  
  @media (min-width: 1200px) {
    .column {
      width: 23.5%;
      margin: 1%;
    }
  }
  
  /* Landscape mode */
  @media screen and (orientation: landscape) {
    .column {
      width: 100%;
      margin: 0;
    }
  }
  
  .button {
    display: block;
    margin: -20px auto 0;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

  }
  .choice-style {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #9c27b0;
    border-radius: 6px;
    background-color: #fff;

  }
  