@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this to your CSS */
@keyframes color-transition {
  0% {
    color: #7f3eb3; /* purple-700 */
  }
  100% {
    color: #f6e05e; /* yellow-400 */
  }
}


.animate-color-transition {
  animation: color-transition 2s ease infinite alternate;
}

.animate-link-size {
  animation: link-size 2s ease infinite alternate;
}
/* Add this to your CSS */
:root {
  --text-color: #141218;
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: #f6e05e;
  --bg-color: hsla(210, 50%, 85%, 1);
  --purple-700: #7f3eb3;
  --yellow-400: #f6e05e;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.btn:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.btn:hover {
  color: var(--bg-color); /* Change text color on hover */
  background-color: var(--purple-700); /* Change background color on hover */
}

.btn::before {
  content: '';
  pointer-events: none;
  opacity: 0.6;
  background:
    radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

.link-with-underline {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.link-with-underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #951ABE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link-with-underline:hover:after {
  width: 100%;
  left: 0;
}

.btn-outline-blue .wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-blue {
  min-width: 100px;
  min-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #F6D110;
  background: #951ABE;
  background: linear-gradient(90deg, rgba(169, 86, 199, 1) 0%, rgba(247, 187, 241, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(169, 86, 199, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn-outline-blue::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(170px + 12px);
  min-height: calc(45px + 12px);
  border: 6px solid #F7BBF1;
  box-shadow: 0 0 60px rgba(149, 26, 190, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.btn-outline-blue:hover,
.btn-outline-blue:focus {
  color: #F6D110;
  transform: translateY(-6px);
}

.btn-outline-blue:hover::before,
.btn-outline-blue:focus::before {
  opacity: 1;
}

.btn-outline-blue::after {
  content: '';
  width: 10px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #F7BBF1;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn-outline-blue:hover::after,
.btn-outline-blue:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
